.home {
}

.home-bg {
  background-image: url('https://res.cloudinary.com/dio2gwquj/image/upload/v1678774194/wp2581913-man-of-steel-wallpaper_1_home-bg-img_noqvt4.png');
  background-size: cover;
  height: 60vh;
}

@media screen and (min-width: 768px) {
  .home-bg {
  }
}
